<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2 min-height-wallet">
    <div class="row width-size">
      <div class="col-md-6 h-60">
        <label class="bg-trans line-h">My Wallet Balance €
          {{MWalletTransactionResponse.balance}}</label>
      </div>
      <div *ngIf="!inputbox" class="col-md-6 align-right">
        <button
          class="wallet-button btn-set bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase px-2 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ml-2 mt-1 ease-linear transition-all duration-150"
          type="button">
          <mat-icon style="font-size: 25px;
      height: 25px;
      width: 25px;" (click)="clickToAdd()">add</mat-icon>
        </button>
      </div>
      <div *ngIf="inputbox" class="col-md-6 align-right">
        <input type="number" (input)="money($event)" placeholder="Enter amount" style="width: 75% !important">
        <button
          class="wallet-button btn-set bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase px-2 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ml-2 mt-1 ease-linear transition-all duration-150"
          type="button">
          <mat-icon class="addmoney-btn" (click)="addMoney(content)">check</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <div class="page__content p-2 position-relative">
    <div class="flex flex-wrap mt-2" *ngIf="MWalletTransactionResponse?.transactions?.length > 0">
      <div *ngFor="let trans of MWalletTransactionResponse.transactions; let i=index" class="col-xl-12 col-sm-12 mb-3">
        <div class="bg-white rounded py-3 px-3 align-center wallet-card">
          <label class="width-size align-left bg-trans font-600">€ {{trans.amount}} {{trans.description}}</label><br>
          <label class="width-size align-left bg-trans">TransactionId : {{trans.transaction_id}}</label><br>
          <label class="width-size align-left bg-trans">{{trans.created_at}}</label><br>
          <label class="width-size align-left bg-trans font-600" *ngIf="trans.transaction_type == '1'">Payment
            Successfull</label>
          <label class="width-size align-left bg-trans font-600 declined" *ngIf="trans.transaction_type == '0'">Payment
            Declined</label>
        </div>

      </div>
    </div>
    <div class="flex flex-wrap mt-2" *ngIf="MWalletTransactionResponse?.transactions?.length < 1"
      style="display: block !important;">
      <div class="task block overflow-x-auto set-no-record box-shad" style="margin: 10px;">
        No
        Transactions Available!
      </div>
    </div>
  </div>
</div>
<app-modaldialog *ngIf="loaderShow"></app-modaldialog>

<ng-template #content let-modal data-backdrop="false">
  <div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Card Details</h4>
    </div>
    <div class="modal-body p-1">
      <form id="payment-form">
        <div id="card-element">
        </div>
        <div class="align-center">
          <button class="stripe-btn" style="width: 40%;" (click)="pay()" id="submit">Add Money</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>