@import "../home/home.component.scss";

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 800px) {
  .min-height-wallet {
    min-height: 120px !important;
  }
}

.min-height-wallet {
  min-height: 200px;
}

.wallet-button {
  color: #0e3508 !important;
  font-size: 5px;
  background: #fff !important;
  height: 35px;
}

.addmoney-btn {
  font-size: 25px;
  height: 25px;
  width: 25px;
}

.wallet-card {
  border-radius: 8px !important;
  color: #0c3007;
  font-size: 16px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.declined {
  color: red !important;
}