<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-5 mb-5 mb-lg-0 position-relative">
        <div class="card bg-glass card-box-shadow">
          <div class="card-body px-4 pb-5 px-md-5">
            <form [formGroup]="forgotPasswordFormgroup">
              <div class=" form-outline text-center">
                <img style="width: 170px !important;" src="../../../assets/images/Tap.png">
              </div>
              <div class="form-group form-outline mb-4 text-center">
                <label class="slogan noteWorthy-fonts">Its everything to do with sports !</label>
              </div>

              <div class="form-check mb-4  checkbox-font align-center">
                <label class="form-check-label" for="exampleCheck1">Forgot password?</label>
              </div>

              <div class="form-check mb-4  checkbox-font align-center">
                <p class="form-check-label set-font-recover" for="exampleCheck1">To recover your password , you need to
                  enter your registered email address. We will send the recovery link to your email.</p>
              </div>

              <div class="form-group mb4 align-left">
                <input type="text" id="email" class="form-control" formControlName="email" required>
                <label class="form-control-placeholder" for="email">Enter your email address</label>
              </div>
              <div>
                <button type="submit" class="btn btn-success btn-block  btn-fonts box-shad" (click)="forgotPassword()">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-modaldialog *ngIf="loaderShow"></app-modaldialog>