@import "../home/home.component.scss";








.frndtitle {
  height: 30px;
  padding: 5px 0;
}

.frnd-margin {
  margin-bottom: 0.5rem !important;
}

.venueId {
  position: absolute !important;
  top: 10px !important;
  right: 18px !important;
}

.venueSave {
  color: #0e3508 !important;
  font-size: 30px !important;
  height: 30px !important;
  width: 30px !important;
  font-weight: 700 !important;
}