<div class="container-fluid page">
  <div class="d-flex page__box pt-2 pl-3 pr-3 pb-3 mt-2 min-height-wallet min-height-100">
    <div class="row width-size">
      <div class="col-md-6 h-60">
        <label *ngIf="!update" class="bg-trans line-h">
          <mat-icon class="title-icon">stadium</mat-icon>
          Create Match
        </label>
        <label *ngIf="update" class="bg-trans line-h">
          <mat-icon class="title-icon">edit_note</mat-icon>
          Update Match
        </label>
      </div>
    </div>
  </div>

  <div class="page__content p-2 position-relative min-h-calc-90">
    <div class="flex flex-wrap mt-2">
      <div class="container text-center text-lg-start set-margin-zero">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-8 mb-5 mb-lg-0 position-relative m-0-auto">
            <div class="card bg-glass card-box-shadow challenge-card">
              <div class="card-body">
                <form [formGroup]="createEventFormgroup">

                  <!-- Match Title -->
                  <div class="form-group align-left mb-3 field-row">
                    <div class="field-icon field-icon--title">
                      <mat-icon>title</mat-icon>
                    </div>
                    <div class="field-input-wrap">
                      <input type="text" id="title" class="form-control" name="title" formControlName="title" required>
                      <label class="form-control-placeholder" for="title">Match Title</label>
                    </div>
                  </div>

                  <!-- User / Friend -->
                  <div class="form-group align-left mb-3 field-row">
                    <div class="field-icon field-icon--team">
                      <mat-icon>person_add</mat-icon>
                    </div>
                    <div class="field-input-wrap">
                      <input type="submit" id="friend" class="form-control align-left" name="friend"
                        formControlName="friend" required (click)="getFriendList(content)">
                      <label class="form-control-placeholder" for="friend">Select User</label>
                    </div>
                  </div>

                  <!-- Sport -->
                  <div class="form-group align-left mb-3 field-row">
                    <div class="field-icon field-icon--sport">
                      <mat-icon>sports_soccer</mat-icon>
                    </div>
                    <div class="field-input-wrap">
                      <select class="form-select" name="sport" id="floatingSelectGrid"
                        aria-label="Floating label select example" formControlName="sport">
                        <option value="" [disabled]=true>Select</option>
                        <option *ngFor="let sport of mSportsResponse.data" value="{{sport.id}}">
                          {{sport.sport_name}}
                        </option>
                      </select>
                      <label class="form-control-placeholder" for="floatingSelectGrid">Select Sport</label>
                    </div>
                  </div>

                  <!-- Venue -->
                  <div class="form-group align-left mb-3 field-row">
                    <div class="field-icon field-icon--venue">
                      <mat-icon>place</mat-icon>
                    </div>
                    <div class="field-input-wrap">
                      <input type="submit" id="venue" class="form-control align-left" name="venue"
                        formControlName="venue" required (click)="getVenueList(content)">
                      <label class="form-control-placeholder" for="venue">Select Venue</label>
                    </div>
                  </div>

                  <!-- Date -->
                  <div class="form-group align-left mb-3 field-row">
                    <div class="field-icon field-icon--date">
                      <mat-icon>event</mat-icon>
                    </div>
                    <div class="field-input-wrap">
                      <input type="datetime-local" id="date" class="form-control" name="date" formControlName="date"
                        required>
                    </div>
                  </div>

                  <!-- Description + Image Upload -->
                  <div class="row g-2">
                    <div class="col-md-9">
                      <div class="form-group align-left field-row field-row--textarea">
                        <div class="field-icon field-icon--desc">
                          <mat-icon>notes</mat-icon>
                        </div>
                        <div class="field-input-wrap">
                          <textarea style="height: 120px;" type="text" id="description" name="description"
                            class="form-control" formControlName="description" required></textarea>
                          <label class="form-control-placeholder" for="description">About This Match</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group align-left field-row">
                        <div class="field-icon field-icon--title">
                          <mat-icon>image</mat-icon>
                        </div>
                        <div class="field-input-wrap">
                          <label for="image" class="align-center width-size upload-label">
                            <input type="file" name="image" id="image" class="displaynone" (change)="preview($event)" />
                            <img src="{{imgView}}" class="img-preview" />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="submit-row">
                    <button *ngIf="!update" type="submit"
                      class="btn btn-success btn-block btn-fonts box-shad update-btn" (click)="createNewEvent()">
                      <mat-icon class="btn-icon">stadium</mat-icon>
                      Create Match
                    </button>
                    <button *ngIf="update" type="submit" class="btn btn-success btn-block btn-fonts box-shad update-btn"
                      (click)="updateEvent()">
                      <mat-icon class="btn-icon">save</mat-icon>
                      Update Match
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modaldialog *ngIf="loaderShow"></app-modaldialog>

<ng-template #content let-modal data-backdrop="false">

  <!-- VENUE PICKER -->
  <div *ngIf="createFriendlyVenue">
    <div class="modal-header modal-header--themed">
      <h4 class="modal-title" id="modal-basic-title">
        <mat-icon class="modal-title-icon">place</mat-icon> Venue
      </h4>
      <button class="btn-set icon-done-btn" type="button" (click)="saveVenue()">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <div class="modal-body p-1 friendlyshow">
      <div class="search-wrap">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="form-control mr-sm-2 search-input" type="text" placeholder="Search" aria-label="Search"
          (input)=" searchVenue($event)">
      </div>

      <div *ngIf="!searchtoggle" class="pt-3">
        <div *ngFor="let venue of mListVenueResponse.data; let i=index" class="col-xl-12 col-sm-12 mb-3"
          (click)="selectVenue(venue)">
          <div class="rounded py-3 px-3 align-center box-shad venueData"
            [ngStyle]="{'border': mCreateEventRequest.e_location_id != venue.id ? 'none' : '2px solid #058749','background-color': mCreateEventRequest.e_location_id != venue.id ? '#fff' : '#a5d6a7'}">
            <label class="width-size align-left bg-trans font-600">{{venue.name}}</label><br>
            <label class="width-size align-left bg-trans">{{venue.description}}</label><br>
            <label class="width-size align-right bg-trans">€ {{venue.price}}</label><br>
            <button [hidden]="mCreateEventRequest.e_location_id != venue.id"
              class="venueId btn-set icon-done-btn"
              type="button" (click)="modal.dismiss('Cross click')">
              <mat-icon class="venueSave">done_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="searchtoggle" class="pt-3">
        <div *ngFor="let venue of searchVenueList; let i=index" class="col-xl-12 col-sm-12 mb-3"
          (click)="selectVenue(venue)">
          <div class="rounded py-3 px-3 align-center box-shad venueData"
            [ngStyle]="{'border': mCreateEventRequest.e_location_id != venue.id ? 'none' : '2px solid #058749','background-color': mCreateEventRequest.e_location_id != venue.id ? '#fff' : '#a5d6a7'}">
            <label class="width-size align-left bg-trans font-600">{{venue.name}}</label><br>
            <label class="width-size align-left bg-trans">{{venue.description}}</label><br>
            <label class="width-size align-right bg-trans">€ {{venue.price}}</label><br>
            <button [hidden]="mCreateEventRequest.e_location_id != venue.id"
              class="venueId btn-set icon-done-btn"
              type="button">
              <mat-icon class="venueSave">done_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FRIEND PICKER -->
  <div *ngIf="createFriendlyUser">
    <div class="modal-header modal-header--themed">
      <h4 class="modal-title" id="modal-basic-title">
        <mat-icon class="modal-title-icon">person_add</mat-icon> Friends
      </h4>
      <button class="btn-set icon-done-btn" type="button" (click)="saveFriend()">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <div class="modal-body p-1 friendlyshow">
      <div class="search-wrap">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="form-control mr-sm-2 search-input" type="text" placeholder="Search" aria-label="Search"
          (input)="searchFriend($event)">
      </div>

      <div *ngIf="!searchtoggle" class="pt-3">
        <div *ngFor="let friend of mFriendListResponse.data; let i=index" class="col-xl-12 col-sm-12 mb-3"
          (click)="selectFriend(friend)">
          <div class="rounded py-3 px-3 align-center box-shad venueData"
            [ngStyle]="{'border': !friendId.includes(','+friend.user.id+',') ? 'none' : '2px solid #058749','background-color': !friendId.includes(','+friend.user.id+',') ? '#fff' : '#a5d6a7'}">
            <label class="width-size align-left bg-trans font-600">{{friend?.user?.fname}}
              {{friend?.user?.lname}}</label><br>
            <label class="width-size align-left bg-trans">{{friend?.user?.banner_description}}</label><br>
            <button [hidden]="!friendId.includes(','+friend.user.id+',')"
              class="venueId btn-set icon-done-btn"
              type="button">
              <mat-icon class="venueSave">done_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="searchtoggle" class="pt-3">
        <div *ngFor="let friend of searchFriendList; let i=index" class="col-xl-12 col-sm-12 mb-3"
          (click)="selectFriend(friend)">
          <div class="rounded py-3 px-3 align-center box-shad venueData"
            [ngStyle]="{'border': !friendId.includes(','+friend.user.id+',') ? 'none' : '2px solid #058749','background-color': !friendId.includes(','+friend.user.id+',') ? '#fff' : '#a5d6a7'}">
            <label class="width-size align-left bg-trans font-600">{{friend?.user?.fname}}
              {{friend?.user?.lname}}</label><br>
            <label class="width-size align-left bg-trans">{{friend?.user?.banner_description}}</label><br>
            <button [hidden]="!friendId.includes(','+friend.user.id+',')"
              class="venueId btn-set icon-done-btn"
              type="button">
              <mat-icon class="venueSave">done_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>